.header-menu {
  padding-left: 88px;

  @include tablet {
    padding-left: 26px;
  }

  @include desktop {
    padding-left: 141px;
  }
}

.header-menu__list {
  @include list;

  display: flex;
  flex-wrap: wrap;
}

.header-menu__item {
  @include desktop {
    &--basket {
      margin-left: 40px;
    }
  }
}


.header-menu__item-button {
  border: none;
  background-color: transparent;
  padding: 22px 30px 16px;
  display: block;
  position: relative;
  font-family: "Montserrat-medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: left;
    background-color: $base-black;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    @include desktop {
      left: 6px;
      top: 55%;
      transform: translate(0, -50%);
    }
  }

  &--enter::before {
    mask-image: url("../../icons/stack.svg#enter");
  }

  &--basket::before {
    mask-image: url("../../icons/stack.svg#basket");
  }

  @include tablet {
    padding: 28px 30px 27px;
  }

  @include desktop {
    padding: 20px 15px 15px 30px;
  }
}

.header-menu__item-button-span {
  display: none;

  @include desktop {
    display: block;
    font-family: "Montserrat-regular", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $base-black;
    text-transform: uppercase;
  }
}
